<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
    <div>
      <div class="mx-auto text-center">
        <div class="sm:flex sm:justify-center sm:mb-8">
          <div class="text-base tracking-tight text-negroni-500 rounded-full">
            Gooses International.
          </div>
        </div>
        <h1
          class="text-negroni-500 mt-4 font-bold sm:text-5xl text-3xl tracking-tight">
          Buy A Goose You Like.
          <span >
            Part of the money will be donated for gooses.
          </span>
        </h1>
        </div>
      </div>
    </div>
  </div>
</main>
